// Variables needed

$trans-gray: rgba(0, 0, 0, 0.6);
$trans-darkgray: rgba(44, 44, 44, 0.6);
$trans-lightergray: rgba(180, 180, 180, 0.5);
$mid-point-color: rgb(53, 53, 53);
$mid-point-darkcolor: rgba(80, 80, 80, 0.904);

* {

    margin: 0;
    padding: 0;
}

body {

    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    background: url('../Images/a.jpg');
    background-size: cover;
    backdrop-filter: blur(5px);


    
}


// Adjustable container
.container {

    
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .clock-face {

        position: relative;
        max-width: 90%;
        width: 40%;
        height: 81%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        // Neumorphism design without borders
        box-shadow: -10px -10px 75px $trans-lightergray,
                    10px 10px 25px $trans-darkgray;

        .mid-point {

            background-color: $mid-point-color;
            width: .9em;
            height: .9em;
            border-radius: 50%;
            z-index: 1;

            // Blinking effect
            box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.753),
                        1px 1px 3px rgba(0, 0, 0, 0.12),
                        inset -1px -1px 3px rgba(255, 255, 255, 0.753),
                        inset 1px 1px 3px rgba(0, 0, 0, 0.12);
            
        }

        .hand {

            position: absolute;
            bottom: 50%;
            right: 50%;
            margin: 0;
            height: 6px;
            border-radius: 5px;
            transform-origin: 100%;
            transform: rotate(90deg);

            // This will produce a smooth tansform while ticking
            transition: all .05s;
            transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
            
        }

        .hours-hand {

            background-color: $trans-gray;
            width: 16%;
            z-index: 1;
        }

        .minutes-hand {

            background-color: $trans-gray;
            width: 23%;
            z-index: 1;
            transition: none;
            transition-timing-function: none;
            
        }
        .seconds-hand {

            background-color: rgba(255, 255, 255, 0.753);
            width: 44%;
            z-index: -1;
            top: 49%;
            right: 14.1rem;
            transform-origin: 80%;

        }

        span {

            font-weight: bolder;
        }

        .time {

            position: absolute;
        }

        .main {

            font-size: 2.1em;

        }

        #three {

            right: 10px;
        }

        #six {

            bottom: 0;
        }

        #nine {

            left: 10px;
        }

        #twelve {

            top: 0;
        }

        .line {

            width: 8%;
            height: 4px;
            background-color: black;
            border-radius: 10px;
            position: absolute;
            // margin-right: 14px;
        }

        .right {

            margin-right: 16px;
        }

        .left {

            margin-left: 16px;
        }

        // styles for seperate digits
        #one {

            top: 11%;
            right: 22%;
            transform: rotate(120deg);
        }
        #two {

            top: 27%;
            right: 6%;
            transform: rotate(150deg);
        }
        #four {

            top: 72%;
            right: 5%;
            transform: rotate(210deg);
        }
        #five {

            top: 88%;
            right: 24%;
            margin-right: 0px;
            transform: rotate(240deg);
        }
        #seven {

            top: 88%;
            left: 24%;
            margin-left: 0px;
            transform: rotate(300deg);
        }
        #eight {

            top: 72%;
            left: 5%;
            transform: rotate(330deg);
        }
        #ten {

            top: 27%;
            left: 6%;
            transform: rotate(390deg);
        }
        #eleven {

            top: 11%;
            left: 22%;
            transform: rotate(420deg);
        }

    }
}